{% extends "index.html" %}

{% block app_content %}

<h1>Details</h1>

    <table class="table">
    <tbody>
        <tr>
            <td colspan="3" class="text-center"><a href="" alt="{{ data.Title }}">{{ data.Title }}</a></td>
        </tr>
        <tr>
            <td rowspan="8" class="text-center">
                <a href="" alt="{{ data.Title }}">
                    {% if data.Poster == "N/A"%}
                    <span class="glyphicon glyphicon-picture"></span>
                    {% else %}
                    <img src="{{ data.Poster }}" alt="{{ data.Title }}" width="300">
                    {% endif %}
                </a>
                <br />
                <a href="javascript:return false;" onclick="javascript:favourite('{{data.imdbID}}')">
                    <span id="heart{{data.imdbID}}" class="glyphicon glyphicon-heart-empty"></span>
                </a>
            </td>
        </tr>
        <tr>
            <td><b>Year:</b></td>
            <td>{{ data.Year }}</td>
        </tr>
        <tr>
            <td><b>Rated:</b></td>
            <td>{{ data.Rated }}</td>
        </tr>
        <tr>
            <td><b>Released:</b></td>
            <td>{{ data.Released }}</td>
        </tr>
        <tr>
            <td><b>Runtime:</b></td>
            <td>{{ data.Runtime }}</td>
        </tr>
        <tr>
            <td><b>Genre:</b></td>
            <td>{{ data.Genre }}</td>
        </tr>
        {% if data.Ratings %}
        <tr class="text-center">
            <td colspan="2">
                <b>Ratings</b>
                <table class="table table-sm"><tbody>
                    <tr>
                        {% for num in data.Ratings %}
                        <td>{{ num.Source}}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for num in data.Ratings %}
                        <td>{{ num.Value}}</td>
                        {% endfor %}
                    </tr>
                </tbody></table>

            </td>
            {% endif %}
        </tr>
    </tbody>
    </table>

{% endblock %}

