{% extends "index.html" %}

{% block content %}

<h1>Favourites</h1>

{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
{% for message in messages %}
<li>{{ message }}</li>
{% endfor %}
</ul>
{% endif %}
{% endwith %}

{% if favourites %}
    <table border="1">
    {% for favourite in favourites %}
    <tbody>
        <tr>
            <td><a href="{{ url_for('details', imdb_id=favourite.imdbID) }}"><img src="{{ favourite.Poster }}" alt="{{ favourite.Title }}" width="300"></a></td>
            <td><a href="{{ url_for('details', imdb_id=favourite.imdbID) }}">{{ favourite.Title }}</a></td>
            <td>unstar</td>
        </tr>
    </tbody>
    {% endfor %}
    </table>
{% else %}
Empty
{% endif %}

{% endblock %}

