{% extends "index.html" %}

{% block app_content %}

<h1>Favourites</h1>

{% if favourites %}
    <table class="table">
    {% for favourite in favourites %}
    <tbody>
        <tr id="fav{{favourite.imdbID}}">
            <td><a href="{{ url_for('details', imdb_id=favourite.imdbID) }}">
                    {% if favourite.Poster == "N/A"%}
                    <span class="glyphicon glyphicon-picture"></span>
                    {% else %}
                    <img src="{{ favourite.Poster }}" alt="{{ favourite.Title }}" width="300">
                    {% endif %}
                </a></td>
            <td><a href="{{ url_for('details', imdb_id=favourite.imdbID) }}">{{ favourite.Title }}</a></td>
            <td>
                <a href="javascript:return false;" onclick="javascript:favourite('{{favourite.imdbID}}'); this.href='javascript:return false;';">
                    <span id="heart{{favourite.imdbID}}" class="glyphicon glyphicon-heart"></span>
                </a>
            </td>
        </tr>
    </tbody>
    {% endfor %}
    </table>
{% else %}
Empty
{% endif %}

{% endblock %}

