{% extends 'bootstrap/base.html' %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{url_for('.static', filename='styles.css')}}">
{% endblock %}

{% block scripts %}
    {{super()}}
    <script src="{{url_for('.static', filename='script.js')}}"></script>
{% endblock %}

{% block title %}Movie database{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
    <div class="container">
        <ul class="nav navbar-nav">
            <li><a class="navbar-brand" href="{{ url_for('index') }}">Home</a></li>
        {% if current_user.is_anonymous %}
            <li><a class="nav-link" href="{{ url_for('login') }}">Login</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a class="nav-link" href="{{ url_for('register') }}">Register</a></li>
        {% else %}
            <li><a class="nav-link" href="{{ url_for('search') }}">Search</a></li>
            <li><a class="nav-link" href="{{ url_for('favourites') }}">Favourites</a></li>
            <li><a class="nav-link" href="{{ url_for('profile') }}">Profile</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a class="nav-link" href="{{ url_for('logout') }}">Logout</a></li>
        {% endif %}
        </ul>
    </div>
    </nav>
{% endblock %}


{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {% block app_content %}{% endblock %}
    </div>
{% endblock %}

