<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Movie database</title>
</head>

<body>

    <div>
        <a href="{{ url_for('index') }}">Home</a>
        {% if current_user.is_anonymous %}
        <a href="{{ url_for('register') }}">Register</a>
        <a href="{{ url_for('login') }}">Login</a>
        {% else %}
        <a href="{{ url_for('search') }}">Search</a>
        <a href="{{ url_for('favourites') }}">Favourites</a>
        <a href="{{ url_for('profile') }}">Profile</a>
        <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}
    </div>

    <hr>

    {% block content %}{% endblock %}
</body>
</html>
