{% extends "index.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<h1>Search for a movie</h1>

{% if form %}
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
{% endif %}


{% if data %}
    <table class="table">
    {% for movie in data.Search %}
        <tr id="fav{{movie.imdbID}}">
            <td><a href="{{ url_for('details', imdb_id=movie.imdbID) }}">
                    {% if movie.Poster == "N/A"%}
                    <span class="glyphicon glyphicon-picture"></span>
                    {% else %}
                    <img src="{{ movie.Poster }}" alt="{{ movie.Title }}" width="300">
                    {% endif %}
                </a></td>
            <td><a href="{{ url_for('details', imdb_id=movie.imdbID) }}">{{ movie.Title }}</a></td>
            <td>
                <a href="javascript:return false;" onclick="javascript:favourite('{{movie.imdbID}}')">
                    <span id="heart{{movie.imdbID}}" class="glyphicon glyphicon-heart-empty"></span>
                </a>
            </td>
        </tr>
    {% endfor %}
    </table>

    {% if pages %}
        pages: {% for page in pages %}
        <a href="/search/{{title}}/{{page}}">{{page}}</a>
        {% endfor %}
    {% endif %}

{% endif %}

{% endblock %}

