{% extends "index.html" %}

{% block content %}

<h1>Search for a movie</h1>

{% if form %}
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
    {{ form.title.label }}: {{ form.title(size=32) }}
    </p>
    <p>{{ form.submit() }}</p>
</form>

{% endif %}


{% if error %}
    <p><strong>Error:</strong> {{ error }}</p>
{% endif %}

{% if data %}

    <table border="1">
    {% for movie in data.Search %}
    <tbody>
        <tr>
            <td><a href="{{ url_for('details', imdb_id=movie.imdbID) }}"><img src="{{ movie.Poster }}" alt="{{ movie.Title }}" width="300"></a></td>
            <td><a href="{{ url_for('details', imdb_id=movie.imdbID) }}">{{ movie.Title }}</a></td>
            <td>star</td>
        </tr>
    </tbody>
    {% endfor %}
    </table>

    {% if pages %}
        pages: {% for page in pages %}
        <a href="/search/{{title}}/{{page}}">{{page}}</a>
        {% endfor %}
    {% endif %}

{% endif %}

{% endblock %}

